h1 {
  color:rgb(186, 7, 67);
}
#weatherIcon {
  font-size: 48px;
  position: relative;
  top: 12px;
  font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}
.app {
  margin: 60px auto;
  max-width: 800px;
}
.container {
  border-radius: 28px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, .08);
  background: radial-gradient(circle at 10% 20%,
        rgb(137, 210, 253) 0%,
        rgb(255, 241, 188) 90%);
}
body{
  background-color: rgb(221, 234, 255);
}

.btn {
  border-left:none ;
  background-color: #f5f5f5;
  border: none;
  border-radius: 15px;
  height: 48px;
}
.btn:hover{
 background: #f5f5f5;;
  cursor: pointer;
  color: black;
  border: none;
}
.form-control {
  height: 48px;
  border-radius: 15px 15px 15px 15px;
  background-color:#f5f5f5;
}
.form-control:focus {
  background-color: transparent;
  border: 2px solid black;
}
.date{
  font-size:small;
  font-weight: 600;
}
li{
  color: rgba(23, 11, 77, 0.856);
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    display: inline;
    margin: 0px;
}
ul{
  padding:0;
  text-align: center;
}
#searchIcon{
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.current-icon{
  font-size: 32px;
  font-weight: 300;
  margin-right: 10px;
}

.forecast-days, .weather-icon, h6{
  text-align: center;
  margin:0 auto;
  display:block;
}
.forecast-days{
  margin-bottom: 15px;
}

h6{
  font-weight:200;
}
.weather-temperature, h1{
  line-height: 1;
  font-size: 50px;
}
.units{
  font-size: 16px;
  line-height: 45px;
  padding-left: 0px;
}